body {
  background-color: rgb(237, 247, 247);
}
p {
  color:rgb(39, 39, 101);
}
a {
  color: rgb(227, 52, 52);
}
h1 {
  color: rgb(6, 6, 113);
}
h2 {
  color: rgb(6, 6, 113);
}
h3 {
  color: rgb(6, 6, 113);
}
h4 {
  color:rgb(154, 76, 227)
}


